<div class="sidebar animated fadeInDown">
    <div class="logo-title">
      <div class="title">
        <img src="{{ .Site.Params.profilePicture | absURL }}" alt="profile picture">
        <h3 title=""><a href="/">Hi! I'm Elisha Tan</a></h3>
        <div class="description">
          <p>Developer Programs, Facebook · Founder, TechLadies · Co-founder, DevRelFolks Asia
         <!--  <p>I am passionate about bringing people together to solve big problems.<br/><br/> Subscribe to my newsletter to receive content on DevRel career advice, building communities, and designing developer programs: <a href="https://bit.ly/3k4aGvZ">https://bit.ly/updatesfromsha</a></p> -->
        </div>
      </div>
    </div>
    <ul class="social-links">
        {{ range $item := .Site.Params.socialIcons }}
        <li>
        <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}">
          <i class="fa fa-2x {{ $item.icon }}" aria-hidden="true"></i>
        </a>          
        </li>

        {{ end }}
    </ul>
    <div class="footer">
        <div class="by_farbox">&copy; {{ .Site.Params.author }} {{ now.Format "2006"}} </div>
      </div>
    </div>
</div>