{{ define "main" }}
  <div class="post animated fadeInDown">
    <h3>I am passionate about bringing people together to solve big problems.</h3>
    <p><br><br> <br/><br/> Subscribe to my newsletter to receive content on DevRel career advice, building communities, and designing developer programs: <a href="https://bit.ly/3k4aGvZ">https://bit.ly/updatesfromsha</a></p>p>
    <hr>
  </div>
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
  {{ range $paginator.Pages }}
  <div class="post animated fadeInDown">
    <div class="post-title">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>
    </div>
    <div class="post-content"><div class="p_part"><p>{{ .Summary }}</p></div>
  
  <div class="p_part"><p></p></div></div>
    <div class="post-footer">
      <div class="meta">
        <div class="info"><i class="fa fa-sun-o"></i><span class="date">{{ .Date.Format "Jan 2006" }}</span>
          {{ with .Params.tags }}
          {{- range $index, $el := . -}}
          <a class="tag" href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
          {{- end -}}
          {{ end }}       
        </div>
      </div>
    </div>
  </div>
  {{ end }}
<div class="pagination">
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
