{{ define "main" }}
  <div class="post animated fadeInDown">
    <h3>I am passionate about bringing people together to solve big problems.</h3>
    <p>I’m the Developer Community Programs Manager at Facebook, where I support teams to design developer programs for product goals. Outside of my work, I founded TechLadies–a non-profit community for women to learn technical skills to switch careers into the tech industry, and DevRel Folks Asia - a community for DevRel professionals to level up in their careers.  </p>
    <p>I’m featured on various media such as Channel News Asia, CNBC, The Straits Times, High Net Worth, and I was invited as a keynote speaker at <a href="https://www.youtube.com/watch?v=kO66Y-501dc" target=”_blank”>DevRelCon London</a>, <a href="https://www.youtube.com/watch?v=iZVAFrBzWKI&t=769s" target=”_blank”>International Women's Day by Jobs for New South Wales Australia</a>, and has spoken at <a href="https://www.youtube.com/watch?v=fHzXTVrGxj8" target=”_blank”>Campus Party</a>, <a href="https://www.youtube.com/watch?v=zLwGJ3GyBxI" target=”_blank”>PyCon Thailand</a>, Seedstars Summit Asia, Slush Singapore, and <a href="https://www.youtube.com/watch?v=GxSb7LLEgNY" target=”_blank”>RubyConf MY</a> to name a few.</p>
    <p><a href="/talks" target=”_blank”>Invite me to speak at your event</a>a> on DevRel, tackling gender diversity in tech, or overcoming failures, or reach out to discuss how we can leverage tech for good. </p>
    <hr>
  </div>
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
  {{ range $paginator.Pages }}
  <div class="post animated fadeInDown">
    <div class="post-title">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>
    </div>
    <div class="post-content"><div class="p_part"><p>{{ .Summary }}</p></div>
  
  <div class="p_part"><p></p></div></div>
    <div class="post-footer">
      <div class="meta">
        <div class="info"><i class="fa fa-sun-o"></i><span class="date">{{ .Date.Format "Jan 2006" }}</span>
          {{ with .Params.tags }}
          {{- range $index, $el := . -}}
          <a class="tag" href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
          {{- end -}}
          {{ end }}       
        </div>
      </div>
    </div>
  </div>
  {{ end }}
<div class="pagination">
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
